@import "bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: "Flexo-Demi";
  src: url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.eot");
  src: url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.svg#Flexo-Demi")
      format("svg");
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #313131;
}

body {
  background-image: url("../images/background.png");
  font-family: "Flexo-Demi", arial, sans-serif;
  color: #313131;
  text-transform: none;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 3.5em;
}
