.navbar-brand-container {
  display: flex;
  align-items: center;
  color: #474747;
}

.navbar-nav-scroll {
  max-height: 15em;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link,
.nav-item,
.navbar-nav .nav-link.show,
.dropdown-item {
  color: #474747;
}
