.pokemon-type-icon {
  border: 1px solid #474747;
  text-transform: capitalize;
  width: 5em;
  cursor: default !important;
  padding: 0;
  height: 1.5em;
  color: #212121;
}

.pokemon-type-icon:hover {
  border: 1px solid #474747;
  color: #212121;
}
